@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  z-index: 2;
  margin: 0 10%;
}

.title {
  font-size: 38px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.title::first-letter {
  color: var(--color-primary);
}

.background {
  position: fixed;
  z-index: 2;
  aspect-ratio: 1 / 1;
  translate: -50% -50%;
  height: 88px;
  background: var(--color-secondary);
  border-radius: 50%;
  opacity: 0;
  transition: 0.6s;
}

.menu {
  display: flex;
}

.menu nav {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menu a {
  position: relative;
  color: var(--color-text);
  font-size: 25px;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}

.menu nav:hover > a {
  opacity: 0.15;
}

.menu nav > a:hover {
  opacity: 1;
}

.menu a::after {
  content: "";
  position: absolute;
  left: -5px;
  bottom: 0;
  width: 110%;
  height: 2px;
  border-radius: 2px;
  background: var(--color-primary);
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: 0.4s;
}

.menu a:hover::after {
  transform: scaleX(1);
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 30px;
  }
  100% {
    opacity: 1;
  }
}

.appear {
  animation: appear 0.35s backwards;
}

@media (min-width: 845px) {
  .burger {
    display: none;
  }
}

@media screen and (max-width: 845px) {
  button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
  }

  .burger {
    position: relative;
    z-index: 4;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 88px;
    height: 50px;
    background-image: url("/assets/navbar/menu.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .burger.open {
    background-image: url("/assets/navbar/close.png");
  }

  .background.open {
    height: 300vh;
    opacity: 0.85;
  }

  .menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
  }

  .menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15%;
  }

  .menu.open {
    opacity: 1;
    visibility: visible;
  }

  .menu a {
    font-size: 30px;
    padding: 12px 0 12px 18px;
    width: 250px;
    opacity: 0;
    transition: 0.4s;
  }

  .menu a::after {
    left: 10px;
    bottom: 10px;
    width: 85%;
    height: 3px;
    background: #fff;
  }

  .menu.open a {
    opacity: 1;
  }
}
